{
    "module": {
        "type": "commonjs",
        "strict": true
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2021"
    },
    "minify": true,
    "sourceMaps": false,
    "inlineSourcesContent": false
}